h1 {
  color: rgb(220, 87, 87);
  font-style: italic;
  font-size: 40px;

}

.note {
  color: rgb(0, 0, 0);
  padding-top: 5px;
  font-size: 30px;
}

button {
  
  font-size: 20px;
}

input{
  font-size: 20px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

body{

  background-color: #f4f4d5;
}